
.calculator-wrapper {
    border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-template-areas:
        "button1 button2 button3"
        "button4 button5 button6"
        "button7 button8 button9"
        ". button0 ."
        ". . .";
        justify-content: center;
        align-items: center;
        place-items: center;
        width: 220px;
}

.button,
.equal-button,
.button-oprt {
    color: red;
    height: 40px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 40px;
    border: 2px grey solid;
    border-radius: 4px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#button-0 {
    grid-area: button0;
}

.button-oprt,
.equal-button {
    color: blue;
}

.button:hover {
    background-color: tomato;
    color: white;
}

.button-oprt:hover,
.equal-button:hover {
    background-color: cadetblue;
    color:white;
}

.button:active {
    background-color: rgb(161, 66, 49);
    color: white;
}

.button-oprt:active,
.equal-button:active {
    background-color: rgb(52, 104, 155);
    color:white;
}

input.result {
    width: 215px;
    height: 30px;
    margin-bottom: 8px;
    text-align: end;
}